{% extends 'gsm/base.html' %}
{% load static %}
{% block title %}Compus Netowrk System Detection{% endblock %}
{% block content%}
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">           
            <div class="col-lg-12">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <div class="d-flex justify-content-center">
                        <img src="{% static 'assets/img/wave.png' %}" alt="..." style="width: 150px"/>
                    </div>
                    <h1 class="d-flex justify-content-center display-1 lh-1 mb-3">About</h1>
                    <p class="lead fw-normal text-muted mb-5">
                        The purpose of this project is to collect and synthesise large amounts of data to interpret the network signal strength of telecommunication networks and produce a web application that can easily be accessed to make readily available the current signal strengths (of MTN, Vodafone, and Airtel Tigo) on the Accra Institute of Technology Kokomlemle Campus. 
The outcome of this project can inform the students and staff about the regions on campus with better network signals, which network is better under what conditions, and which network is better at what time.
The outcome of this study can inform the telecommunication companies of areas on campus where they can improve their service and conditions. The study's findings can also help a new student decide which telecommunications network to use based on the locations he or she will be visiting.
Enjoy sustainable network use with our system.
The outcome of this study can inform the telecommunication companies of areas on campus where they can improve their service and conditions. The study's findings can also help a new student decide which telecommunications network to use based on the locations he or she will be visiting.
Enjoy sustainable network use with our system.

                    </p>                    
                </div>                
            </div>
             
        </div>
    </div>
</header>
 
<section id="features">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-12 order-lg-1 mb-5 mb-lg-0">
                <div class="container-fluid px-5">
                     <h1 class="d-flex justify-content-center display-1 lh-1 mb-3">Features</h1>
                    <div class="row gx-5">
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi bi-people-fill icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">User Registration</h3>
                                
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi bi-reception-4 icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Signal Tracking</h3>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5 mb-md-0">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi bi-zoom-in icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Compare signal strengths</h3>
                              
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Feature item-->
                            <div class="text-center">
                                <i class="bi bi-pencil-fill icon-feature text-gradient d-block mb-3"></i>
                                <h3 class="font-alt">Input Signal management</h3>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<!-- Footer-->
<footer class="bg-black text-center py-5">
    <div class="container px-5">
        <div class="text-white-50 small">
            <div class="mb-2">&copy; Your Website 2022. All Rights Reserved.</div>
            <a href="#!">Privacy</a>
            <span class="mx-1">&middot;</span>
            <a href="#!">Terms</a>
            <span class="mx-1">&middot;</span>
            <a href="#!">FAQ</a>
        </div>
    </div>
</footer>
{% endblock content%}
 