{% extends 'gsm/base.html' %}
{% load static %}
{% block title %}Compus Netowrk System Detection{% endblock %}
{% block content%}
<header class="masthead">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">           
            <div class="col-lg-12">
                <!-- Mashead text and app badges-->
                <div class="mb-5 mb-lg-0 text-center text-lg-start">
                    <div class="d-flex justify-content-center">
                        <img src="{% static 'assets/img/wave.png' %}" alt="..." style="width: 150px"/>
                    </div>
                    <h1 class="d-flex justify-content-center display-1 lh-1 mb-3">Contact</h1>
                    <div class="text-center">
                        <p>Call Us: +233 27 8000 365 +233 50 5755 671  +233 24 4121 468</p>
                        <p>info_aitmnssis@gmail.com</p>
                        <p>Location: #360, Saxon Street, Taifa-Burkina, Accra.</p>
                    </div>

                </div>                
            </div>
             
        </div>
    </div>
</header>
 
 

<!-- Footer-->
<footer class="bg-black text-center py-5">
    <div class="container px-5">
        <div class="text-white-50 small">
            <div class="mb-2">&copy; Your Website 2022. All Rights Reserved.</div>
            <a href="#!">Privacy</a>
            <span class="mx-1">&middot;</span>
            <a href="#!">Terms</a>
            <span class="mx-1">&middot;</span>
            <a href="#!">FAQ</a>
        </div>
    </div>
</footer>
{% endblock content%}
 